  * {
      margin: 0;
      box-sizing: border-box;
      padding: 0;
  }
  
  body {
      height: 100vh;
      display: flex;
      background: rgb(87, 189, 130);
      transition: background 0.5s ease;
      position: relative;
  }
  
  .field-name,
  .field-email,
  .field-password,
  .field-finish {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      height: 50px;
      width: 400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      transform: all 0.5s ease;
  }
  
  .field-name i,
  .field-email i,
  .field-password i,
  .field-finish i {
      padding: 10px;
      cursor: pointer;
  }
  
  .field-name input,
  .field-email input,
  .field-password input {
      background: none;
      border: none;
      flex: 1;
      height: 100%;
      outline: none;
  }
  
  div.innactive {
      opacity: 0;
      pointer-events: none;
      transform: translate(-50px, 50px);
  }
  
  div.active {
      opacity: 1;
      pointer-events: all;
      transform: translate(-50%, -50%);
  }
  
  @keyframes shake {
      0% {
          transform: translate(-50%, -50%) rotate(0deg);
      }
      50% {
          transform: translate(-50%, -50%) rotate(10deg);
      }
      100% {
          transform: translate(-50%, -50%) rotate(0deg);
      }
  }